In [1]:
!pip install ipython-sql
!pip install sqlalchemy 
#library that facilitates the communication between Python programs and databases.

Requirement already satisfied: ipython-sql in c:\users\hp\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hp\anaconda3\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%load_ext sql 
#ipython-sql is activated in your notebook

In [4]:
from sqlalchemy import create_engine

In [5]:
%sql postgresql://postgres:your_password@localhost/postgres

In [6]:
engine = create_engine('postgresql://postgres:your_password@localhost/postgres')

In [7]:
%%sql 
select * from employees;

 * postgresql://postgres:***@localhost/postgres
474 rows affected.

[(1.0, 'Male', datetime.date(1952, 2, 3), 15, 'Manager', 57000, 27000, 98, 144, 'No'),
 (2.0, 'Male', datetime.date(1958, 5, 23), 16, 'Clerical', 40200, 18750, 98, 36, 'No'),
 (3.0, 'Female', datetime.date(1929, 7, 26), 12, 'Clerical', 21450, 12000, 98, 381, 'No'),
 (4.0, 'Female', datetime.date(1947, 4, 15), 8, 'Clerical', 21900, 13200, 98, 190, 'No'),
 (5.0, 'Male', datetime.date(1955, 2, 9), 15, 'Clerical', 45000, 21000, 98, 138, 'No'),
 (6.0, 'Male', datetime.date(1958, 8, 22), 15, 'Clerical', 32100, 13500, 98, 67, 'No'),
 (7.0, 'Male', datetime.date(1956, 4, 26), 15, 'Clerical', 36000, 18750, 98, 114, 'No'),
 (8.0, 'Female', datetime.date(1966, 5, 6), 12, 'Clerical', 21900, 9750, 98, 233, 'No'),
 (9.0, 'Female', datetime.date(1946, 1, 23), 15, 'Clerical', 27900, 12750, 98, 115, 'No'),
 (10.0, 'Female', datetime.date(1946, 2, 13), 12, 'Clerical', 24000, 13500, 98, 244, 'No'),
 (11.0, 'Female', datetime.date(1950, 2, 7), 16, 'Clerical', 30300, 16500, 98, 143, 'No'),
 (12.0, 'Male', datetime.date(1966, 1, 11), 8, 'Clerical', 28350, 12000, 98, 26, 'Yes'),
 (13.0, 'Male', datetime.date(1960, 7, 17), 15, 'Clerical', 27750, 14250, 98, 34, 'Yes'),
 (14.0, 'Female', datetime.date(1949, 2, 26), 15, 'Clerical', 35100, 16800, 98, 137, 'Yes'),
 (15.0, 'Male', datetime.date(1962, 8, 29), 12, 'Clerical', 27300, 13500, 97, 66, 'No'),
 (16.0, 'Male', datetime.date(1964, 11, 17), 12, 'Clerical', 40800, 15000, 97, 24, 'No'),
 (17.0, 'Male', datetime.date(1962, 7, 18), 15, 'Clerical', 46000, 14250, 97, 48, 'No'),
 (18.0, 'Male', datetime.date(1956, 3, 20), 16, 'Manager', 103750, 27510, 97, 70, 'No'),
 (19.0, 'Male', datetime.date(1962, 8, 19), 12, 'Clerical', 42300, 14250, 97, 103, 'No'),
 (20.0, 'Female', datetime.date(1940, 1, 23), 12, 'Clerical', 26250, 11550, 97, 48, 'No'),
 (21.0, 'Female', datetime.date(1963, 2, 19), 16, 'Clerical', 38850, 15000, 97, 17, 'No'),
 (22.0, 'Male', datetime.date(1940, 9, 24), 12, 'Clerical', 21750, 12750, 97, 315, 'Yes'),
 (23.0, 'Female', datetime.date(1965, 3, 15), 15, 'Clerical', 24000, 11100, 97, 75, 'Yes'),
 (24.0, 'Female', datetime.date(1933, 3, 27), 12, 'Clerical', 16950, 9000, 97, 124, 'Yes'),
 (25.0, 'Female', datetime.date(1942, 7, 1), 15, 'Clerical', 21150, 9000, 97, 171, 'Yes'),
 (26.0, 'Male', datetime.date(1966, 11, 8), 15, 'Clerical', 31050, 12600, 96, 14, 'No'),
 (27.0, 'Male', datetime.date(1954, 3, 19), 19, 'Manager', 60375, 27480, 96, 96, 'No'),
 (28.0, 'Male', datetime.date(1963, 4, 11), 15, 'Clerical', 32550, 14250, 96, 43, 'No'),
 (29.0, 'Male', datetime.date(1944, 1, 28), 19, 'Manager', 135000, 79980, 96, 199, 'No'),
 (30.0, 'Male', datetime.date(1961, 9, 17), 15, 'Clerical', 31200, 14250, 96, 54, 'No'),
 (31.0, 'Male', datetime.date(1964, 2, 24), 12, 'Clerical', 36150, 14250, 96, 83, 'No'),
 (32.0, 'Male', datetime.date(1954, 1, 28), 19, 'Manager', 110625, 45000, 96, 120, 'No'),
 (33.0, 'Male', datetime.date(1961, 3, 18), 15, 'Clerical', 42000, 15000, 96, 68, 'No'),
 (34.0, 'Male', datetime.date(1949, 2, 2), 19, 'Manager', 92000, 39990, 96, 175, 'No'),
 (35.0, 'Male', datetime.date(1961, 8, 22), 17, 'Manager', 81250, 30000, 96, 18, 'No'),
 (36.0, 'Female', datetime.date(1963, 8, 7), 8, 'Clerical', 31350, 11250, 96, 52, 'No'),
 (37.0, 'Male', datetime.date(1954, 10, 9), 12, 'Clerical', 29100, 13500, 96, 113, 'Yes'),
 (38.0, 'Male', datetime.date(1962, 4, 27), 15, 'Clerical', 31350, 15000, 96, 49, 'Yes'),
 (39.0, 'Male', datetime.date(1960, 6, 22), 16, 'Clerical', 36000, 15000, 96, 46, 'Yes'),
 (40.0, 'Female', datetime.date(1933, 8, 28), 15, 'Clerical', 19200, 9000, 96, 23, 'Yes'),
 (41.0, 'Female', datetime.date(1961, 3, 18), 12, 'Clerical', 23550, 11550, 96, 52, 'Yes'),
 (42.0, 'Male', datetime.date(1960, 9, 23), 15, 'Clerical', 35100, 16500, 95, 90, 'No'),
 (43.0, 'Male', datetime.date(1964, 1, 18), 12, 'Clerical', 23250, 14250, 95, 46, 'No'),
 (44.0, 'Male', datetime.date(1963, 6, 15), 8, 'Clerical', 29250, 14250, 95, 50, 'No'),
 (45.0, 'Male', datetime.date(1938, 8, 2), 12, 'Custodial', 30750, 13500, 95, 307, 'No'),
 (46.0, 'Female', datetime.date(1940, 11, 18), 15, 'Clerical', 22350, 12750, 95, 165, 'No'),
 (47.0, 'Female', datetime.date(1938, 4, 28), 12, 'Clerical', 30000, 16500, 95, 228, 'No'),
 (48.0, 'Male', datetime.date(1947, 6, 7), 12, 'Custodial', 30750, 14100, 94, 240, 'No'),
 (49.0, 'Male', datetime.date(1958, 9, 16), 15, 'Clerical', 34800, 16500, 94, 93, 'No'),
 (50.0, 'Male', datetime.date(1960, 2, 9), 16, 'Manager', 60000, 23730, 94, 59, 'No'),
 (51.0, 'Male', datetime.date(1962, 7, 8), 12, 'Clerical', 35550, 15000, 94, 48, 'No'),
 (52.0, 'Male', datetime.date(1963, 11, 12), 15, 'Clerical', 45150, 15000, 94, 40, 'No'),
 (53.0, 'Male', datetime.date(1954, 4, 21), 18, 'Manager', 73750, 26250, 94, 56, 'No'),
 (54.0, 'Male', datetime.date(1931, 6, 4), 12, 'Clerical', 25050, 13500, 94, 444, 'No'),
 (55.0, 'Male', datetime.date(1960, 6, 25), 12, 'Clerical', 27000, 15000, 94, 120, 'No'),
 (56.0, 'Male', datetime.date(1962, 4, 16), 15, 'Clerical', 26850, 13500, 94, 5, 'No'),
 (57.0, 'Male', datetime.date(1963, 4, 15), 15, 'Clerical', 33900, 15750, 94, 78, 'No'),
 (58.0, 'Female', datetime.date(1964, 11, 14), 15, 'Clerical', 26400, 13500, 94, 3, 'No'),
 (59.0, 'Male', datetime.date(1961, 5, 7), 15, 'Clerical', 28050, 14250, 94, 36, 'Yes'),
 (60.0, 'Male', datetime.date(1959, 2, 16), 12, 'Clerical', 30900, 15000, 94, 102, 'Yes'),
 (61.0, 'Male', datetime.date(1964, 4, 28), 8, 'Clerical', 22500, 9750, 94, 36, 'Yes'),
 (62.0, 'Male', datetime.date(1962, 7, 18), 16, 'Manager', 48000, 21750, 93, 22, 'No'),
 (63.0, 'Male', datetime.date(1961, 8, 20), 17, 'Manager', 55000, 26250, 93, 32, 'No'),
 (64.0, 'Male', datetime.date(1963, 9, 28), 16, 'Manager', 53125, 21000, 93, 48, 'No'),
 (65.0, 'Male', datetime.date(1964, 3, 28), 8, 'Clerical', 21900, 14550, 93, 41, 'No'),
 (66.0, 'Male', datetime.date(1962, 2, 16), 19, 'Manager', 78125, 30000, 93, 7, 'No'),
 (67.0, 'Male', datetime.date(1964, 5, 28), 16, 'Manager', 46000, 21240, 93, 35, 'No'),
 (68.0, 'Male', datetime.date(1963, 5, 5), 16, 'Manager', 45250, 21480, 93, 36, 'No'),
 (69.0, 'Male', datetime.date(1960, 6, 23), 16, 'Manager', 56550, 25000, 93, 34, 'No'),
 (70.0, 'Male', datetime.date(1962, 2, 8), 15, 'Clerical', 41100, 20250, 93, 27, 'No'),
 (71.0, 'Male', datetime.date(1948, 8, 26), 17, 'Manager', 82500, 34980, 93, 207, 'No'),
 (72.0, 'Female', datetime.date(1964, 1, 7), 16, 'Clerical', 54000, 18000, 93, 11, 'No'),
 (73.0, 'Female', datetime.date(1968, 2, 9), 12, 'Clerical', 26400, 10500, 93, 12, 'No'),
 (74.0, 'Female', datetime.date(1933, 4, 28), 15, 'Clerical', 33900, 19500, 93, 192, 'No'),
 (75.0, 'Female', datetime.date(1965, 8, 12), 15, 'Clerical', 24150, 11550, 93, 100, 'No'),
 (76.0, 'Female', datetime.date(1967, 9, 3), 15, 'Clerical', 29250, 11550, 93, 11, 'No'),
 (77.0, 'Female', datetime.date(1968, 9, 9), 12, 'Clerical', 27600, 11400, 93, 6, 'No'),
 (78.0, 'Female', datetime.date(1968, 8, 20), 12, 'Clerical', 22950, 10500, 93, 10, 'No'),
 (79.0, 'Female', datetime.date(1962, 1, 23), 16, 'Clerical', 34800, 14550, 93, 8, 'No'),
 (80.0, 'Female', datetime.date(1961, 5, 25), 16, 'Clerical', 51000, 18000, 93, 22, 'No'),
 (81.0, 'Female', datetime.date(1968, 3, 12), 12, 'Clerical', 24300, 10950, 93, 5, 'No'),
 (82.0, 'Female', datetime.date(1947, 8, 28), 12, 'Clerical', 24750, 14250, 93, 193, 'Yes'),
 (83.0, 'Female', datetime.date(1967, 10, 12), 12, 'Clerical', 22950, 11250, 93, 120, 'Yes'),
 (84.0, 'Female', datetime.date(1967, 3, 12), 8, 'Clerical', 25050, 10950, 93, 8, 'Yes'),
 (85.0, 'Male', datetime.date(1962, 4, 9), 15, 'Clerical', 25950, 17100, 92, 42, 'No'),
 (86.0, 'Male', datetime.date(1961, 8, 25), 15, 'Clerical', 31650, 15750, 92, 64, 'No'),
 (87.0, 'Male', datetime.date(1959, 10, 20), 12, 'Clerical', 24150, 14100, 92, 130, 'No'),
 (88.0, 'Male', datetime.date(1962, 2, 10), 19, 'Manager', 72500, 28740, 92, 10, 'No'),
 (89.0, 'Male', datetime.date(1961, 6, 24), 19, 'Manager', 68750, 27480, 92, 8, 'No'),
 (90.0, 'Female', datetime.date(1938, 2, 27), 8, 'Clerical', 16200, 9750, 92, 67, 'No'),
 (91.0, 'Female', datetime.date(1967, 11, 4), 12, 'Clerical', 20100, 11250, 92, 24, 'No'),
 (92.0, 'Female', datetime.date(1968, 6, 25), 8, 'Clerical', 24000, 10950, 92, 6, 'No'),
 (93.0, 'Female', datetime.date(1968, 3, 5), 12, 'Clerical', 25950, 10950, 92, 24, 'No'),
 (94.0, 'Female', datetime.date(1950, 8, 4), 12, 'Clerical', 24600, 10050, 92, 44, 'No'),
 (95.0, 'Female', datetime.date(1968, 8, 8), 12, 'Clerical', 28500, 10500, 92, 6, 'No'),
 (96.0, 'Male', datetime.date(1933, 10, 2), 8, 'Custodial', 30750, 15000, 92, 432, 'Yes'),
 (97.0, 'Male', datetime.date(1953, 1, 18), 17, 'Clerical', 40200, 19500, 92, 168, 'Yes'),
 (98.0, 'Male', datetime.date(1956, 5, 17), 8, 'Custodial', 30000, 15000, 92, 144, 'Yes'),
 (99.0, 'Female', datetime.date(1968, 7, 7), 12, 'Clerical', 22050, 10950, 92, 5, 'Yes'),
 (100.0, 'Male', datetime.date(1963, 10, 25), 18, 'Manager', 78250, 27480, 91, 47, 'No'),
 (101.0, 'Male', datetime.date(1960, 3, 14), 16, 'Manager', 60625, 22500, 91, 44, 'No'),
 (102.0, 'Male', datetime.date(1963, 3, 28), 14, 'Clerical', 39900, 15750, 91, 59, 'No'),
 (103.0, 'Male', datetime.date(1959, 3, 17), 19, 'Manager', 97000, 35010, 91, 68, 'No'),
 (104.0, 'Male', datetime.date(1962, 11, 5), 15, 'Clerical', 27450, 15750, 91, 48, 'No'),
 (105.0, 'Male', datetime.date(1966, 3, 7), 15, 'Clerical', 31650, 13500, 91, 18, 'No'),
 (106.0, 'Male', datetime.date(1962, 8, 4), 19, 'Manager', 91250, 29490, 91, 23, 'No'),
 (107.0, 'Female', datetime.date(1960, 8, 16), 12, 'Clerical', 25200, 14400, 91, 83, 'No'),
 (108.0, 'Female', datetime.date(1930, 7, 16), 12, 'Clerical', 21000, 11550, 91, 108, 'No'),
 (109.0, 'Male', datetime.date(1963, 11, 10), 12, 'Clerical', 30450, 15000, 91, 49, 'Yes'),
 (110.0, 'Male', datetime.date(1952, 10, 29), 15, 'Clerical', 28350, 18000, 91, 151, 'Yes'),
 (111.0, 'Male', datetime.date(1940, 11, 27), 12, 'Custodial', 30750, 9000, 91, 314, 'Yes'),
 (112.0, 'Male', datetime.date(1948, 6, 21), 12, 'Custodial', 30750, 15000, 91, 240, 'Yes'),
 (113.0, 'Male', datetime.date(1959, 10, 6), 16, 'Manager', 54875, 27480, 90, 68, 'No'),
 (114.0, 'Male', datetime.date(1961, 8, 25), 14, 'Clerical', 37800, 16500, 90, 60, 'No'),
 (115.0, 'Male', datetime.date(1961, 5, 12), 15, 'Clerical', 33450, 14100, 90, 85, 'No'),
 (116.0, 'Male', datetime.date(1962, 6, 9), 15, 'Clerical', 30300, 16500, 90, 16, 'No'),
 (117.0, 'Female', datetime.date(1932, 1, 14), 12, 'Clerical', 31500, 18750, 90, 205, 'No'),
 (118.0, 'Female', datetime.date(1964, 3, 4), 12, 'Clerical', 31650, 14250, 90, 48, 'No'),
 (119.0, 'Female', datetime.date(1963, 7, 23), 12, 'Clerical', 25200, 14100, 90, 55, 'No'),
 (120.0, 'Female', datetime.date(1964, 11, 12), 16, 'Manager', 37800, 15750, 90, 7, 'No'),
 (121.0, 'Female', datetime.date(1936, 8, 6), 15, 'Clerical', 18750, 10500, 90, 54, 'No'),
 (122.0, 'Female', datetime.date(1965, 9, 26), 15, 'Clerical', 32550, 13500, 90, 22, 'No'),
 (123.0, 'Female', datetime.date(1949, 4, 24), 12, 'Clerical', 33300, 15000, 90, 3, 'No'),
 (124.0, 'Female', datetime.date(1963, 5, 29), 16, 'Clerical', 38550, 16500, 90, 34, 'No'),
 (125.0, 'Male', datetime.date(1956, 8, 6), 12, 'Clerical', 27450, 15000, 90, 173, 'Yes'),
 (126.0, 'Male', datetime.date(1951, 1, 21), 15, 'Custodial', 24300, 15000, 90, 191, 'Yes'),
 (127.0, 'Male', datetime.date(1950, 9, 1), 12, 'Custodial', 30750, 15000, 90, 209, 'Yes'),
 (128.0, 'Female', datetime.date(1946, 7, 25), 12, 'Clerical', 19650, 9750, 90, 229, 'Yes'),
 (129.0, 'Male', datetime.date(1959, 7, 18), 17, 'Manager', 68750, 27510, 89, 38, 'No'),
 (130.0, 'Male', datetime.date(1958, 9, 6), 20, 'Manager', 59375, 30000, 89, 6, 'No'),
 (131.0, 'Male', datetime.date(1962, 2, 8), 15, 'Clerical', 31500, 15750, 89, 22, 'No'),
 (132.0, 'Male', datetime.date(1953, 5, 17), 12, 'Clerical', 27300, 17250, 89, 175, 'No'),
 (133.0, 'Male', datetime.date(1959, 9, 12), 15, 'Clerical', 27000, 15750, 89, 87, 'No'),
 (134.0, 'Female', datetime.date(1941, 11, 10), 16, 'Manager', 41550, 24990, 89, 285, 'No'),
 (135.0, 'Female', datetime.date(1968, 5, 22), 12, 'Clerical', 26250, 10950, 89, 34, 'No'),
 (136.0, 'Male', datetime.date(1939, 8, 25), 12, 'Clerical', 22200, 15000, 88, 324, 'No'),
 (137.0, 'Male', datetime.date(1937, 7, 12), 21, 'Manager', 65000, 37500, 88, 264, 'No'),
 (138.0, 'Male', datetime.date(1947, 1, 9), 12, 'Clerical', 30900, 15000, 88, 252, 'No'),
 (139.0, 'Female', datetime.date(1931, 6, 18), 8, 'Clerical', 20100, 13200, 88, 90, 'No'),
 (140.0, 'Female', datetime.date(1965, 4, 5), 12, 'Clerical', 22350, 13500, 88, 26, 'No'),
 (141.0, 'Female', datetime.date(1966, 6, 14), 15, 'Clerical', 35550, 13350, 88, 32, 'No'),
 (142.0, 'Female', datetime.date(1966, 11, 13), 12, 'Clerical', 28500, 13950, 88, 34, 'No'),
 (143.0, 'Female', datetime.date(1939, 8, 24), 12, 'Clerical', 24450, 13200, 88, 107, 'No'),
 (144.0, 'Female', datetime.date(1931, 8, 28), 8, 'Clerical', 16650, 9750, 88, 412, 'No'),
 (145.0, 'Male', datetime.date(1964, 1, 15), 12, 'Clerical', 26700, 13500, 88, 38, 'Yes'),
 (146.0, 'Male', datetime.date(1951, 1, 2), 18, 'Clerical', 43950, 23250, 88, 182, 'Yes'),
 (147.0, 'Male', datetime.date(1936, 9, 11), 15, 'Clerical', 23700, 13500, 88, 359, 'Yes'),
 (148.0, 'Female', datetime.date(1959, 10, 5), 15, 'Clerical', 26550, 14250, 88, 61, 'Yes'),
 (149.0, 'Male', datetime.date(1962, 6, 28), 12, 'Clerical', 27600, 15000, 87, 75, 'No'),
 (150.0, 'Male', datetime.date(1954, 3, 5), 12, 'Clerical', 25800, 15000, 87, 143, 'No'),
 (151.0, 'Male', datetime.date(1954, 8, 16), 16, 'Manager', 42300, 26250, 87, 126, 'No'),
 (152.0, 'Male', datetime.date(1929, 5, 3), 8, 'Custodial', 30750, 15000, 87, 451, 'No'),
 (153.0, 'Female', datetime.date(1967, 5, 13), 12, 'Clerical', 26700, 12900, 87, 18, 'No'),
 (154.0, 'Female', datetime.date(1940, 6, 7), 12, 'Clerical', 20850, 12000, 87, 163, 'No'),
 (155.0, 'Male', datetime.date(1963, 3, 6), 15, 'Clerical', 35250, 15000, 87, 54, 'Yes'),
 (156.0, 'Male', datetime.date(1963, 1, 12), 15, 'Clerical', 26700, 15000, 87, 56, 'Yes'),
 (157.0, 'Female', datetime.date(1967, 7, 2), 12, 'Clerical', 26550, 13050, 87, 11, 'Yes'),
 (158.0, 'Female', datetime.date(1964, 9, 20), 12, 'Clerical', 27750, 12000, 87, 11, 'Yes'),
 (159.0, 'Female', datetime.date(1951, 1, 13), 16, 'Clerical', 25050, 12750, 87, 123, 'Yes'),
 (160.0, 'Male', datetime.date(1951, 8, 27), 16, 'Manager', 66000, 47490, 86, 150, 'No'),
 (161.0, 'Male', datetime.date(1963, 2, 11), 16, 'Clerical', 52650, 19500, 86, 20, 'No'),
 (162.0, 'Male', datetime.date(1961, 5, 25), 16, 'Manager', 45625, 23250, 86, 60, 'No'),
 (163.0, 'Male', datetime.date(1965, 11, 10), 15, 'Clerical', 30900, 15000, 86, 25, 'No'),
 (164.0, 'Female', datetime.date(1965, 8, 13), 15, 'Clerical', 29400, 16500, 86, 24, 'No'),
 (165.0, 'Female', datetime.date(1966, 4, 29), 15, 'Clerical', 33300, 13500, 86, 24, 'No'),
 (166.0, 'Female', datetime.date(1942, 7, 12), 12, 'Clerical', 21900, 9750, 86, 156, 'No'),
 (167.0, 'Female', datetime.date(1932, 8, 26), 12, 'Clerical', 18150, 9750, 86, 72, 'No'),
 (168.0, 'Female', datetime.date(1962, 4, 23), 16, 'Manager', 46875, 17250, 86, 19, 'No'),
 (169.0, 'Male', datetime.date(1965, 5, 23), 12, 'Clerical', 25500, 14400, 86, 37, 'Yes'),
 (170.0, 'Male', datetime.date(1964, 6, 13), 12, 'Clerical', 26550, 15000, 86, 38, 'Yes'),
 (171.0, 'Male', datetime.date(1930, 1, 21), 12, 'Clerical', 26700, 13500, 86, 367, 'Yes'),
 (172.0, 'Female', datetime.date(1953, 6, 13), 15, 'Clerical', 29850, 15000, 86, 79, 'Yes'),
 (173.0, 'Male', datetime.date(1950, 1, 15), 20, 'Manager', 69250, 42480, 85, 134, 'No'),
 (174.0, 'Male', datetime.date(1935, 1, 7), 8, 'Custodial', 31950, 15000, 85, 438, 'No'),
 (175.0, 'Male', datetime.date(1938, 1, 8), 8, 'Clerical', 26250, 15600, 85, 171, 'No'),
 (176.0, 'Female', datetime.date(1962, 10, 5), 16, 'Clerical', 35700, 17250, 85, 19, 'No'),
 (177.0, 'Female', datetime.date(1962, 8, 11), 12, 'Clerical', 28500, 16500, 85, 69, 'No'),
 (178.0, 'Female', datetime.date(1938, 1, 17), 12, 'Clerical', 17100, 10200, 85, 72, 'No'),
 (179.0, 'Male', datetime.date(1965, 1, 19), 12, 'Clerical', 25200, 13050, 85, 29, 'Yes'),
 (180.0, 'Female', datetime.date(1960, 1, 23), 12, 'Clerical', 24000, 12750, 85, 59, 'Yes'),
 (181.0, 'Female', datetime.date(1939, 1, 4), 12, 'Clerical', 27450, 10200, 85, 101, 'Yes'),
 (182.0, 'Female', datetime.date(1943, 3, 8), 12, 'Clerical', 18450, 10200, 85, 228, 'Yes'),
 (183.0, 'Male', datetime.date(1960, 3, 1), 15, 'Clerical', 39300, 15750, 84, 72, 'No'),
 (184.0, 'Male', datetime.date(1964, 11, 5), 15, 'Clerical', 38850, 15000, 84, 53, 'No'),
 (185.0, 'Male', datetime.date(1930, 8, 28), 8, 'Custodial', 30750, 15000, 84, 380, 'No'),
 (186.0, 'Male', datetime.date(1964, 7, 6), 15, 'Clerical', 37500, 20400, 84, 33, 'No'),
 (187.0, 'Male', datetime.date(1963, 7, 29), 16, 'Manager', 58750, 21750, 84, 13, 'No'),
 (188.0, 'Female', datetime.date(1934, 2, 4), 12, 'Clerical', 34500, 18750, 84, 208, 'No'),
 (189.0, 'Female', datetime.date(1950, 3, 28), 12, 'Clerical', 36000, 19980, 84, 240, 'No'),
 (190.0, 'Female', datetime.date(1932, 11, 15), 8, 'Clerical', 29100, 16500, 84, 35, 'No'),
 (191.0, 'Female', datetime.date(1931, 10, 23), 12, 'Clerical', 16500, 10200, 84, 288, 'No'),
 (192.0, 'Male', datetime.date(1949, 10, 9), 12, 'Clerical', 19650, 12750, 84, 180, 'Yes'),
 (193.0, 'Female', datetime.date(1966, 7, 22), 12, 'Clerical', 24750, 12000, 84, 41, 'Yes'),
 (194.0, 'Female', datetime.date(1938, 4, 10), 15, 'Clerical', 27150, 15750, 84, 231, 'Yes'),
 (195.0, 'Female', datetime.date(1955, 11, 6), 12, 'Clerical', 26400, 12750, 84, 36, 'Yes'),
 (196.0, 'Female', datetime.date(1946, 3, 3), 16, 'Clerical', 23100, 12000, 84, 214, 'Yes'),
 (197.0, 'Male', datetime.date(1962, 10, 1), 15, 'Manager', 54900, 25500, 83, 49, 'No'),
 (198.0, 'Male', datetime.date(1952, 3, 17), 19, 'Manager', 70875, 43500, 83, 156, 'No'),
 (199.0, 'Male', datetime.date(1958, 2, 2), 16, 'Manager', 51250, 27480, 83, 69, 'No'),
 (200.0, 'Male', datetime.date(1963, 2, 13), 17, 'Manager', 67500, 34980, 83, 9, 'No'),
 (201.0, 'Male', datetime.date(1955, 5, 8), 12, 'Clerical', 29340, 19500, 83, 150, 'No'),
 (202.0, 'Male', datetime.date(1963, 3, 17), 15, 'Clerical', 39600, 16500, 83, 47, 'No'),
 (203.0, 'Male', datetime.date(1964, 3, 17), 12, 'Clerical', 29100, 15000, 83, 50, 'No'),
 (204.0, 'Male', datetime.date(1960, 10, 21), 15, 'Clerical', 33150, 16500, 83, 69, 'No'),
 (205.0, 'Male', datetime.date(1944, 6, 22), 16, 'Manager', 66750, 52500, 83, 258, 'No'),
 (206.0, 'Male', datetime.date(1943, 5, 22), 12, 'Custodial', 33750, 15000, 83, 284, 'No'),
 (207.0, 'Male', datetime.date(1959, 2, 15), 15, 'Clerical', 27300, 17250, 83, 91, 'No'),
 (208.0, 'Female', datetime.date(1968, 11, 28), 12, 'Clerical', 24000, 11250, 83, 16, 'No'),
 (209.0, 'Female', datetime.date(1934, 1, 14), 8, 'Clerical', 19800, 10200, 83, 75, 'No'),
 (210.0, 'Male', datetime.date(1949, 5, 4), 15, 'Clerical', 30600, 16500, 83, 216, 'Yes'),
 (211.0, 'Male', datetime.date(1950, 11, 8), 15, 'Clerical', 28950, 15000, 83, 108, 'Yes'),
 (212.0, 'Male', datetime.date(1965, 5, 14), 15, 'Clerical', 38400, 16500, 83, 64, 'Yes'),
 (213.0, 'Male', datetime.date(1945, 10, 20), 8, 'Custodial', 30750, 15000, 83, 302, 'Yes'),
 (214.0, 'Female', datetime.date(1968, 9, 13), 12, 'Clerical', 20400, 10950, 83, 9, 'Yes'),
 (215.0, 'Female', datetime.date(1968, 9, 15), 12, 'Clerical', 19200, 11100, 83, 7, 'Yes'),
 (216.0, 'Male', datetime.date(1964, 5, 16), 15, 'Clerical', 30150, 15750, 82, 72, 'No'),
 (217.0, 'Male', datetime.date(1949, 3, 15), 16, 'Clerical', 34620, 27750, 82, 149, 'No'),
 (218.0, 'Male', datetime.date(1964, 3, 21), 15, 'Clerical', 80000, 15750, 82, 34, 'No'),
 (219.0, 'Male', datetime.date(1963, 2, 2), 12, 'Clerical', 25350, 15000, 82, 32, 'No'),
 (220.0, 'Male', datetime.date(1963, 8, 17), 12, 'Clerical', 29850, 15750, 82, 85, 'No'),
 (221.0, 'Female', datetime.date(1947, 5, 22), 12, 'Clerical', 24000, 13800, 82, 97, 'No'),

In [8]:
%%sql
select MAX(salary) from employees;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(135000,)]

In [9]:
%%sql
select MIN(salary) from employees;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(15750,)]

In [10]:
%%sql
select AVG(salary) from employees;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(Decimal('34419.567510548523'),)]

In [11]:
%sql select gender, salary from employees where  salary = (select max(salary) from employees);

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('Male', 135000)]